[submodule "github"]
	path = github
	url = https://github.com/disruptek/github
[submodule "bump"]
	path = bump
	url = https://github.com/disruptek/bump
[submodule "sorta"]
	path = sorta
	url = https://github.com/narimiran/sorta
[submodule "npeg"]
	path = npeg
	url = https://github.com/disruptek/npeg
[submodule "cutelog"]
	path = cutelog
	url = https://github.com/disruptek/cutelog
[submodule "jsonconvert"]
	path = jsonconvert
	url = https://github.com/disruptek/jsonconvert
[submodule "cligen"]
	path = cligen
	url = https://github.com/disruptek/cligen
[submodule "gittyup"]
	path = gittyup
	url = https://github.com/disruptek/gittyup
[submodule "badresults"]
	path = badresults
	url = https://github.com/disruptek/badresults
