# toggle these if you like
#--define:cutelogEmojis
#--define:cutelogMonochrome
#--define:cutelogBland

# not recommended
#--define:gitErrorsAreFatal

# try it out; it's horrible
#--define:writeNimbleDirPaths=true

# github won't work without ssl enabled
--define:ssl

# specify our preferred version of libgit2
--define:git2SetVer:"master"
#--define:git2SetVer:"v0.28.3"

# and our preferred method of retrieval
--define:git2Git

hint[Processing]=off
#--define:npegTrace

# for gratuitous search path debugging
#--define:debugPath

# fix nimble?
--path="$config"
--path="$nim"
